<div id="<%= book.slug %>" class="book card isotope-item <% _.each(book.tags, function(tag) { %>tag-<%= tag %> <% }) %> isotope-hidden">

	<a href="#/book/<%= book.slug %>">
    <div class="book-outer-wrapper">
   		<!-- Book Image -->
        <img class="veiled" src="img/loading.gif" data-src="img/cover/<%= book.slug %>-thumb.jpg" alt="<%= book.title %>"/>
    </div>
	</a>

	<div class="book-info">
<!-- 		<h4><%= book.title %></h4>
        <% if(book.author) { %><p class="author">By <%= book.author %></p> <% } %> -->
	<% if(book.tags.length > 0) { %><p class="tags"><% _.each(book.tags, function(tag, index, list){ %>
        <button
            class="btn btn-large btn-info tag"
            data-tag-slug="<%= tag %>"><%= COPY.tags[tag] %>
        </button>
    <% }); %></p> <% } %>
    </div>
</div>
