<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>

<div class="modal-body row">

    <div class="modal-book-cover col-lg-6">
        <img id="book-image" src="img/cover/<%= book.slug %><% if (SMALL_MOBILE) { %>-thumb<% } %>.jpg" alt="<%= book.title %>"/>
    </div>

    <div class="modal-text col-lg-6">
        <h4 class="modal-title" id="myModalLabel"><%= book.title %></h4>
        <% if(book.author) { %><p class="author">By <%= book.author %></p> <% } %>
        <% if(book.genre) { %><p class="genre"><strong><%= COPY.content.genre %> </strong><%= book.genre %></p> <% } %>

        <!-- Tags -->
        <% if(book.tags.length > 0) { %><p class="tags"><strong><%= COPY.content.tag_list %> </strong><% _.each(book.tags, function(tag, index, list){ %>
            <a
                class="btn btn-large btn-info tag"
                href="#/tag/<%= tag %>"><%= COPY.tags[tag] %>
            </a>
        <% }); %></p> <% } %>

        <!-- Book Description/Review -->
        <% if(book.text) { %><p class="text"><%= book.text %></p> <% } %>
        <% if(book.reviewer) { %><p class="reviewer">&mdash; <%= COPY.content.recommended_by %> <%= book.reviewer %></p> <% } %>

        <!-- Purchase/Related Links -->

        <p class="book-modal-links">
            <a href="http://www.amazon.com/dp/<%= book.isbn %>?tag=npr-5-20" target="_blank" class="purchase-link">Amazon</a>
            <a href="https://itunes.apple.com/us/book/isbn<%= book.isbn %>?&at=11l79Y" target="_blank" class="purchase-link">iBookstore</a>
            <a href="http://www.indiebound.org/book/<%= book.isbn %>?aff=NPR" target="_blank" class="purchase-link">Independent&nbsp;Booksellers</a>
        </p>

        <ul>
            <% if (book.review_seamus_id){  %>
            <li class="review_seamus_id book-modal-links">
            <a href="http://npr.org/<%= book.review_seamus_id %>" target="_blank"><%= COPY.content.npr_review_link %> <%= book.review_seamus_headline %></a>
            </li>
            <% } %>

            <% if (book.author_seamus_id){  %>
            <li class="author_seamus_id book-modal-links">
            <a href="http://npr.org/<%= book.author_seamus_id %>" target="_blank"><%= COPY.content.npr_author_link %> <%= book.author %></a>
            </li>
            <% } %>

            <% if (book.book_seamus_id){  %>
            <li class="book_seamus_id book-modal-links">
                <a href="http://npr.org/<%= book.book_seamus_id %>" target="_blank"><%= COPY.content.npr_book_link %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<div class="modal-footer">

    <% if (previous != null){  %>
    <a href="#/book/<%= previous %>" class="btn btn-default modal-nav-buttons" id="previous-book">PREVIOUS BOOK</a>
    <% } %>

    <% if (next != null){  %>
    <a href="#/book/<%= next %>" class="btn btn-default modal-nav-buttons" id="next-book">NEXT BOOK</a>
    <% } %>
    <button type="button" class="btn btn-default" id="modal-close-btn" data-dismiss="modal">Close</button>

</div>
