{% extends '_base.html' %}

{% block header_content %}
<header id="top">
    <div class="header-wrapper">
        <a href="#/_"><h1>{{ COPY.content.header_title }}</h1></a>
        <h2>{{ COPY.content.header_subhead }}</h2>
        <p class="byline">by {{ COPY.attribution.byline }}</p>
        <div class="chatter">{{ COPY.content.chatter }}</div>

<!--         <button class="toggle-text btn btn-info show-text">Show Text Only Version</button>

        <button class="toggle-text btn btn-info show-books">Show With Book Covers</button>
 -->
        <button id="mobile-filters" class="visible-xs btn btn-primary btn-block">Filter by genre</button>
    </div>

    <div class="adwrapper">
        <div id="ad-desktop" class="sponsor300">
            <script type="text/javascript">
            <!--
            if (DFP.shouldRenderForDevice('desktop')) {
                googletag.cmd.push(function() { googletag.display('ad-desktop'); });
            }
            // -->
            </script>
        </div>
        <p class="left hidden-xs">NPR thanks our sponsors</p>
        <p class="right hidden-xs"><a href="http://www.npr.org/about/place/corpsupport/">Become an NPR sponsor</a></p>
    </div>
</header>
{% endblock %}

{% block content %}

    <div class="book-container">
        <div class="top-row">
            <div class="spacer">&nbsp;</div>

            <div class="title-area">
                <div class="btn-group btn-group-lg toggle-text grid-active">
                   <button class="grid btn btn-default"><i class="icon-th"></i> Covers</button>
                   <button class="list btn btn-default"><i class="icon-list-ul"></i> List</button>
                </div>

                <h3 class="current-tag"><span id="showing-span"></span><span id="tag-span"></span></h3>
            </div>
        </div>

        <div class="grid-row">
            <div class="tags-wrapper">

                <h4 class="hidden-xs">What would you like to&nbsp;read?</h4>
                <!-- All Tags List -->
                <ul class="filter tags option-set list-unstyled hidden-xs" data-filter-group="category">

                        <li class="visible-xs mobile-label">Filter by: <span class="close visible-xs close-modal"aria-hidden="true">&times;</span></li>

                        <li>
                            <button class="btn btn-large btn-info clear-tags" data-filter-value="*"><i class="icon-remove-circle">&nbsp;&nbsp;</i>Clear Filters</button>
                        </li>
                    {% for row in COPY.tags %}
                       <li>
                           <button
                           class="btn btn-large btn-info tag"
                           data-filter-value=".tag-{{ row.key }}" data-tag-slug="{{ row.key }}">{{ row.value }}</button>
                       </li>
                    {% endfor %}

                        <a href="javascript:;" class="visible-xs close-modal" id="close-mobile-filter"><li >Done</li></a>
                </ul>
            </div>
            <!-- Book Cards Grid -->

            <div class="books-grid-wrapper">
                
                <div id="books-grid" class="filter-inactive">
                    {% for book in books %}
                    <div id="{{ book.slug }}" class="book card isotope-item {% for tag in book.tags %}tag-{{ tag }} {% endfor %} isotope-hidden no-touch" data-sort="{{ loop.index }}">
                        <a href="#/book/{{ book.slug }}">
                        <div class="book-outer-wrapper">
                            <!-- Book Image -->
                            {% if book.teaser %}
                            <div class="review">{{ book.teaser|safe }}<br /><div class="reviewer">Read {{ book.reviewer }}'s<br /> full recommendation &raquo;</div></div>
                            {% endif %}
                            <img src="img/cover-loading.gif" data-src="img/cover/{{ book.slug }}-thumb.jpg" alt="{{ book.title }}"/>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <ul id="books-list">
                    {% for book in books_text_only %}
                    <li class="visible {% for tag in book.tags %}tag-{{ tag }} {% endfor %}{{ book.slug }}" data-sort="{{ loop.index }}" data-slug="{{ book.slug }}">
                        <a href="#/book/{{  book.slug }}">
                            <span class="title">{{ book.title }}</span><br />
                            <span class="author">by&nbsp;{{ book.author }}</span>
                        </a><br />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <button class="btn" id="back-to-top">
        <p id="back-to-top-text">Back to top&nbsp;&nbsp;<i class="icon-arrow-up"></i></p>
        <p id="back-to-top-no-text"><i class="icon-arrow-up"></i></p>
    </button>

{% endblock %}

{% block wide_content %}
{% endblock %}

{% block extra_foot %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <script type="text/javascript">
        window.BOOKS = {{ books_js|safe }}
    </script>
{% endblock %}
