{% extends '_base.html' %}

{% block header_content %}
<header id="top">
    <div class="container header-wrapper">
        <a href="#/_"><h1>{{ COPY.content.header_title }}</h1></a>
        <h2>by {{ COPY.attribution.byline }}</h2>
        <h2>{{ COPY.attribution.pubdate }} {{ COPY.attribution.pubtime }}</h2>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="tags-wrapper">
    
    <!-- All Tags List -->

    <ul class="filter tags option-set list-unstyled" data-filter-group="category">
      {% for row in COPY.tags %}
           <li> 
               <button
               class="btn btn-large btn-info tag"
               data-filter-value=".tag-{{ row.key }}" data-tag-slug="{{ row.key }}">{{ row.value }}</button>
           </li>
        {% endfor %}

        <li><button class="btn btn-large btn-info tag clear-tags" data-filter="*">Show All</button></li>

    </ul>
</div>
    <!-- Book Cards Grid -->

    <div class="row books-grid-wrapper">
        <div class="col-md-12">&nbsp;
            <h3 class="current-tag">Showing books tagged <span></span></h3>
            <div id="books-grid"></div>
        </div>

    </div>

    <!-- Print-friendly list -->

    <div class="print-friendly">
        <h1>{{ COPY.content.header_title }}</h1>
        <h3 class="current-tag">Books tagged <span></span></h3>
        <ul>
            {% for book in books %}
            <li class="print-book visible {% for tag in book.tags %}tag-{{ tag }} {% endfor %}">
                <span class="title">{{ book.title }}</span> by <span class="author">{{ book.author }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block wide_content %}
{% endblock %}

{% block extra_foot %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <script type="text/javascript">
        window.BOOKS = {{ books_js|safe }}
    </script>
{% endblock %}
