{% extends '_base.html' %}

{% block header_content %}
<header id="top">
    <div class="container">
        <div class="introduction">
            <a href="#/_"><h1>{{ COPY.content.header_title }}</h1></a>
            <h2>by {{ COPY.attribution.byline }}</h2>
            <h2>{{ COPY.attribution.pubdate }} {{ COPY.attribution.pubtime }}</h2>

        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="wrapper">
    
<!--     <div class="row">
        <div class="col-md-12 tags">
            {% for row in COPY.tags %}
                <button
                    class="btn btn-large btn-info tag"
                    data-tag-slug="{{ row.key }}">
                    {{ row.value }}
                </button>
            {% endfor %}
        
            <button class="clear-tags">Show all books</button>
        </div>
    </div> -->

    <!-- All Tags List -->
    <ul class="filter tags option-set list-unstyled" data-filter-group="category">
      {% for row in COPY.tags %}
           <li> 
               <button
               class="btn btn-large btn-info tag"
               data-filter-value=".tag-{{ row.key }}" data-tag-slug="{{ row.key }}">{{ row.value }}</button>
           </li>
        {% endfor %}
        <li><button class="btn btn-large btn-info tag" data-filter="*">Show All</button></li>
    </ul>

    <!-- Book Cards Grid -->
    <div class="row">
        <div class="col-md-12">&nbsp;
            <div id="books-grid"></div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block wide_content %}
{% endblock %}

{% block extra_foot %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <script type="text/javascript">
        window.BOOKS = {{ books|safe }}
    </script>
{% endblock %}
