nav {
    display: none;
}

.sr-only {
    display: none;
}

header {
    display: none;
}

.tags {
    display: none;
}

.books-grid-wrapper {
    display: none;
}

.print-friendly ul {
    line-height: 1.4em;
    list-style: none;
    padding-left: 0;
}

.title {
    font-weight: bold;
}

.author {
}

#bigbox {
    display: none;
}

footer {
    display: none;
}
